header nav {
    display: flex;
    color: white;
    margin-top: 27px;
    margin-left: 78px;
    margin-right: 12px;
    justify-content: space-between;
    align-items: center;
}

.header nav .left-side {
    display: flex;
    font-family: 'Big Shoulders Display';
    letter-spacing: 0.075em;
    font-style: normal;
    align-items: center;
}

.header nav .left-side h4{
    font-size: 16px;
    margin-right: 46px;
}

.header nav .left-side h4 span{
    letter-spacing: 0.075em;
    font-size: 26px;
    color: #7DFF68;
}

.timer {
    display: flex;
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
}

.timer h4 {
    letter-spacing: 0.075em;
    margin-right: 27px;
    color: #7A7A7A;
}

.timer h4 span{
    letter-spacing: 0.075em;
    color: white;
}

.timer button
{
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    padding: 0;
    font: inherit;
    outline: inherit;
}

.timer button h4:hover
{
    color: white;
}

.header nav .left-side .icon-header img
{
    border: 1px solid rgba(255, 255, 255, 0.29);
    padding-left: 11px;
    padding-right: 10.39px;
    padding-top: 11px;
    padding-bottom: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
}

.credits
{
    position: absolute;
    top: 200px;
    left: 450px;
    border: 2px solid #E84A4A;
    padding: 20px;
}

.credits p
{
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */

    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: #B2B7BA;
}

.credits .data-credits
{
    margin-top: 18px;
    border-top: 2px solid #E84A4A;
}

.credits .judul 
{
    display: flex;
    align-items: center;
}

.credits .judul h1
{
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 743;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 5px;
    margin-right: 345px;
}

.credits .data-credits table 
{
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */

    letter-spacing: 0.075em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.credits .data-credits table tr td
{
    padding-top: 12px;
    padding-bottom: 61px;
    padding-right: 33px;
}