@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Iceland&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.bg-color {
  background: linear-gradient(242.06deg, rgba(232, 74, 74, 0.33) 0%, rgba(232, 74, 74, 0) 34.83%);
  height: 500px;
  width: 583px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

